---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Find out more about me and my work.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>This page is fairly empty for now...</p>
	</div>
</PageLayout>
