---
interface Props {
  term?: string;
}
const { term } = Astro.props;
---

<noscript>
  <div class="flex items-center justify-center">
    <span class="mx-auto rounded-lg bg-quote/10 p-1 text-xs text-quote">
      JavaScript is required to view comments.
    </span>
  </div>
</noscript>

<script
  id="giscus-script"
  src="https://giscus.app/client.js"
  data-repo="paullj/paullj.github.io"
  data-repo-id="R_kgDOGwKM4"
  data-category="Published Posts"
  data-category-id="DIC_kwD"
  data-mapping="specific"
  data-term={term}
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="noborder_light"
  data-lang="en"
  crossorigin="anonymous"
  async></script>

<script>
  function getUserPref() {
    const storedTheme = typeof localStorage !== "undefined" && localStorage.getItem("theme");
    return (
      storedTheme || (window.matchMedia("(prefers-color-scheme: light)").matches ? "light" : "dark")
    );
  }
  function setGiscusTheme() {
    function sendMessage(message: unknown) {
      const iframe = document.querySelector("iframe.giscus-frame") as HTMLIFrameElement;
      if (!iframe) return;
      iframe.contentWindow?.postMessage({ giscus: message }, "https://giscus.app");
    }
    sendMessage({
      setConfig: {
        theme: getUserPref() === "light" ? "noborder_light" : "noborder_dark",
      },
    });
  }

  // set giscus theme after giscus has been loaded
  function handleGiscusMessage(event: MessageEvent) {
    if (event.origin !== "https://giscus.app") return;
    if (!(typeof event.data === "object" && event.data.giscus)) return;

    setGiscusTheme();
    window.removeEventListener("message", handleGiscusMessage);
  }

  window.addEventListener("message", handleGiscusMessage);

  document.addEventListener("theme-change", () => {
    setGiscusTheme();
  });
</script>
